

body {
    font-family:"微软雅黑", Helvetica, Arial, sans-serif;
}

.templatemo_clear { clear: both; }
.red{color:#d1394a;}
.container_wapper {
    width: 100%;
}
.section_header  {
    height: 150px;
    background: url("../images/section-header.png") center center no-repeat;
}
.section_header  h1 {
    margin-top: 50px;
    text-align: center;
}

/* templatemo_mobile_menu_wap */
#templatemo_mobile_menu_wap {
    width: 50px;
    height: 40px;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: none repeat scroll 0 0 #cf3341;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn {
    padding-top: 3px;
    font-size: 20px;
    text-align: right;
    width: 100%;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn span {
    color: #fff;
}
#templatemo_mobile_menu_wap #mobile_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background:#e7eaef;
    margin-top: 44px;
    border-radius: 4px;
}
#templatemo_mobile_menu_wap .nav-stacked li a {
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li:hover a {
    background-color: #67cbf2;
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li a.focus {
    background-color: transparent;
}
/* templatemo_banner_top */
#templatemo_banner_top {
    background: #f5f5f5;
    height: auto;
}
#templatemo_banner_top p ,
#templatemo_banner_top a {
    color: #666666;
    font-size: 12px;
    line-height: 30px;
	margin: 0;
}
#templatemo_banner_top p span{padding-right:20px;}
#templatemo_banner_top p.right {
    text-align: left;
}

/* templatemo_banner_logo */
#templatemo_banner_logo {
    background: #ffffff;
	position:relative;
	margin:15px auto;
}
#templatemo_banner_logo img {
	max-width:100%;
	margin:0 auto;
	display:block;
}

/* templatemo_banner_slide */
#templatemo_banner_slide {
	background:#fdf9ee;
    position:relative;
	margin:15px auto;
	text-align:center;
}
#templatemo_banner_slide img{max-width:100%;}

/* templatemo_main_menu */
#templatemo_main_menu {
    position:relative;
    z-index: 1500;
}
#templatemo_main_menu ul {
    background: #e06d98;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 15px;
}
#templatemo_main_menu .nav-justified li {
}
#templatemo_main_menu .nav-justified li a {
    font-size: 15px;
    color: #ffffff;
	font-weight:bold;
}
#templatemo_main_menu .nav-justified li a.current,
#templatemo_main_menu .nav-justified li a:hover {
    background: #d1394a;
    color: #fff;
}
#templatemo_main_menu .nav-justified li.search_input{
	position: absolute;
    right: 30px;
    top: 11px;
}
#templatemo_main_menu .nav-justified li input{
	background: none repeat scroll 0 0 #f4f4f4;
    border: 0 none;
    border-radius: 4px;
    padding: 2px 5px;
    width: 165px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#templatemo_bread_crumbs{
	margin-top:10px;
}
#templatemo_bread_crumbs p{
	padding:0;
	margin:0;
}
#templatemo_bread_crumbs p a{
	color:#666666;
	text-decoration:underline;
}
#templatemo_bread_crumbs p span{color:#cf3341;}

/* templatemo_upcomming_event */
#templatemo_product_detail,#templatemo_product_category{
	margin:10px 0 30px;
}
.product_title{
	border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    overflow: hidden;
	padding-bottom:10px;
}
.product_title h3{
	background:url(../images/cake_icon.gif) no-repeat 0 50%;
	border-bottom: 4px solid #cf3341;
    color: #333333;
    display: inline;
    font-size: 17px;
    padding: 6px 26px 7px 26px;
}
.product_title p{
	float: right;
    margin: 0;
}
.product_title p a{color:#666666;}
.product_title p a.all_pro{color:#cf3341;}
#templatemo_upcomming_event {
    background: #ffffff;
    overflow: hidden;
}
#templatemo_upcomming_event .event_box {   
    position: relative;
    text-align: center;
}
#templatemo_upcomming_event .event_box ul {
    list-style: none;    
    padding: 6px 30px 18px;    
    margin: 0;    
    line-height: 20px;
}
#templatemo_upcomming_event .event_box ul li span.title{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	display:block;
}
#templatemo_upcomming_event .event_box ul li span.intro{
	color:#666666;
	font-size:12px;
}
#templatemo_upcomming_event .event_box ul li span.price{
	color:#cf3341;
	font-size:16px;
}
#templatemo_upcomming_event #prev_event_btn ,
#templatemo_upcomming_event #next_event_btn {
    margin-top: 60px;
    margin-bottom: 60px;
}
#templatemo_upcomming_event #prev_event_btn a  ,
#templatemo_upcomming_event #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
	padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_upcomming_event #prev_event_btn a:hover ,
#templatemo_upcomming_event #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_upcomming_event #prev_event_btn a {
    float: right;
}
#templatemo_upcomming_event #next_event_btn a {
    float: left;
}

/* Product_details_box */
.pro_big_img{
	width: 100%;;
}
.pro_big_img img{max-width:100%;}
.samll_img_box ul.pro_small_img{
	margin: 10px 0 0;
    overflow: hidden;
}
.samll_img_box ul.pro_small_img li {
    cursor: pointer;
    float: left;
    list-style: outside none none;
    margin:0 15px 10px 0;
}
.samll_img_box ul.pro_small_img li img {
    border: 1px solid #999999;
    height: 88px;
    width: 88px;
}
.samll_img_box ul.pro_small_img li.cur img {
    border: 1px solid #cf3341;
}
.pro_copy{
	clear: both;
}
.pro_copy p{line-height:18px;}
.Pro_parameters_box{
	font-size: 14px;
    margin-top: 20px;
}
.pro_name{
	border-bottom: 1px solid #dddddd;
    font-size: 14px;
    line-height: 24px;
}
.pro_name span{
	display:block;
	font-size:18px;
}
.pro_pire{
	clear: both;
    margin: 15px 0 18px;
}
.pro_pire span{
	color:#d1394a;
	font-size:18px;
}
.pro_sku ul li {
    background-color: #f0f4f5;
    border: 1px solid #f0f4f5;
    color: #999;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.pro_sku ul li.cur{
	background: url("../images/sku_icon.png") no-repeat scroll right bottom #f0f4f5;
    border: 1px solid #d1394a;
}
.pro_desc p{
	color: #9b9b9b;
    font-size: 12px;
    line-height: 18px;
}
.cake_num{
	clear:both;
	margin:22px 0 25px;
}
.cake_num a.add_left{
	background: url("../images/decrease_icon.gif") no-repeat scroll center center #eaeaea;
    display: inline-block;
	border: 1px solid #eaeaea;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
	text-indent: -9999px;
}
.cake_num a.add_left:hover{background: url("../images/decrease_icon_hover.gif") no-repeat scroll center center #d1394a;}
.cake_num input{
	border: 1px solid #eaeaea;
    color: #999999;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 50px;
	vertical-align: middle;
}
.cake_num a.add_right{
	background: url("../images/crease_icon.gif") no-repeat scroll center center #eaeaea;
    display: inline-block;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
	text-indent: -9999px;
}
.cake_num a.add_right:hover{background: url("../images/crease_icon_hover.gif") no-repeat scroll center center #d1394a;}
.buy_btn_box ul li a{
    background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
    color: #fff;
    display: inline;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right: 9px;
    text-align: center;
    width: 125px;
}
.buy_btn_box{overflow:hidden;}
.buy_btn_box ul li a:hover{
	background:#d1394a
}
.select_view{
	clear:both;
	margin-top:25px;
}
.select_view ul li.ingred{
	border-bottom: 5px solid #d1394a;
    display: inline-block;
    line-height: 18px;
    padding-bottom: 4px;
}
.select_view ul.view_list{
	margin: 10px 0;
    overflow: hidden;
}
.select_view ul.view_list li{
	float: left;
    padding-right: 20px;
}
.select_view ul.view_list li img{
	padding-right:5px;
}
.select_view ul.ingred_det{clear:both;}
.select_view ul.ingred_det li{
	color: #999999;
    font-size: 12px;
    line-height: 26px;
}
.select_view ul.ingred_det li span.kw{
	color: #d1394a;
	padding-left:10px;
}

/* templatemo_login */
.login_title{
	margin: 50px auto 0;
    width: 500px;
	text-align:center;
}
.form_detail{
	margin: 0 auto 50px;
    width: 500px;
}
.form_detail ul li{
	line-height: 30px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
}
.login_title p span.glyphicon-user{
	color: #e06d98;
    display:inline-block;
    font-size: 25px;
    padding-right: 6px;
	vertical-align: sub;
}
.login_title p.top_border {
	color: #d1394a;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
.login_title p.top_border span.click_login{
	color: #666666;
    font-size: 12px;
}
.form_detail ul li .input_content {
    left: 15px;
    line-height: 40px;
    position: absolute;
    top: 5px;
}
.form_detail ul li .input_content span{padding-right:6px;}
.form_detail ul li .input_content label,.form_detail ul li.pass_tip label,.form_detail ul li.pass_tip select{
	color: #666666;
    font-size: 14px;
	font-weight: normal;
}
.form_detail ul li input.inputBg {
	background:#f0f4f5;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 18px;
	color: #767676;
	margin: 0;
	border: none;
	width: 100%;
	padding: 5px 10px 5px 45px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.form_detail ul li input.inputBg:focus{
	border: 1px solid #e06d98;
	background:#ffffff;
}
.form_detail ul li input.login_btn,.form_detail ul li a.start_shop{
	background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border:0;
	cursor:pointer;
    color: #fff;
	display:inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right: 9px;
    text-align: center;
    width: 100%;
}
.form_detail ul li input.login_btn:hover,.form_detail ul li a.start_shop:hover{background: none repeat scroll 0 0 #d1394a;}
.form_detail ul li.pass_tip{
	text-align:left;
}
.form_detail ul li.pass_tip select{
	background: none repeat scroll 0 0 #f0f4f5;
    border: 0 none;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    width: 100%;
}
.form_detail ul li.pass_tip span{padding-left: 15px;}
.pass_email{
	margin: 30px auto;
    text-align: center;
}
.pass_email ul li{display:inline;}
.pass_email label{
	color: #d1394a;
    font-size: 16px;
    font-weight: normal;
    padding: 0 15px 0 5px;
}
.form_detail ul li strong{
	display: block;
    font-size: 13px;
    text-align: left;
}
.form_detail ul li.tip_quest{
	line-height:16px;
	text-align:left;
}
.send {
    position: absolute;
    right: 15px;
    text-align: right;
    top: 15px;
}
.reg_form ul li span.err{
	color: #d1394a;
    display: inline-block;
    float: right;
}
.form_detail ul li.Agreement{
	text-align:left;
}
.form_detail ul li.Agreement label{font-weight:normal;}
#login_form ul li.Agreement a{float:right;}
.form_detail ul li.Agreement input{
	margin: 0 10px 0 0;
    vertical-align: middle;
}
.img_verify{
	position: absolute;
    right: 15px;
    top: 17px;
}
.form_detail ul li span.forgotmobile{font-size: 18px;}
.form_detail ul li span.set_password{
	color: #60ad05;
    display: block;
    font-size: 20px;
    margin: 20px auto 15px;
}

/* templatemo_catagory */
.classify{
	clear: both;
    margin: 5px 0 10px;
    overflow: hidden;
}
.classify .classify_text{
	float: left;
	font-weight:bold;
    font-size: 12px;
    line-height: 21px;
    width: 60px;
}
.classify ul{
	float:left;
}
.classify ul li {
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin: 0 10px;
}
.classify ul li a{
	color:#666666;
	padding:2px 5px;
}
.classify ul li a:hover,.classify ul li.active a{
	background:#cf3341;
	color:#ffffff;
}
.list .goods{
	border-bottom: 1px solid #efeeee;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.list .goods .goods_img img {
    width: 100%;
}
.list .goods_name{
	line-height: 18px;
    margin-bottom: 10px;
}
.list .goods_name a{
	color:#cf3341;
	font-size:16px;
}
.list .goods_depict{
	font-size:14px;
	line-height:20px;
}
.list .sub{
	padding-top: 30px;
    text-align: right;
}
.list .submit_goods{
	margin:10px 0;
}
.list .submit_goods a,.cart-main .submit a{
	background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 125px;
}
.list .submit_goods a:hover,.list .submit_goods a.active,.cart-main .submit a:hover,.cart-main .submit a.active{background: none repeat scroll 0 0 #d1394a;}

/* templatemo_shop_cart */
#templatemo_shopping_cart{
	overflow:hidden;
	margin-bottom:30px;
}
.order_cart_main .order_step{
	margin: 50px auto;
    overflow: hidden;
    text-align: center;
    width: 75%;
}
.order_cart_main .order_step div {
    float: left;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
}
.order_cart_main .order_step .step1 {
    background: url("../images/order_01.png") no-repeat scroll 0 -165px rgba(0, 0, 0, 0);
    padding: 0 0 0 120px;
}
.order_cart_main .order_step .step2 {
    background: url("../images/order_01.png") no-repeat scroll 0 -55px rgba(0, 0, 0, 0);
    margin: 0 0 0 30px;
    padding: 0 0 0 120px;
}

.order_cart_main .order_step .step3 {
    background: url("../images/order_01.png") no-repeat scroll 0 -110px rgba(0, 0, 0, 0);
    margin: 0 0 0 30px;
    padding: 0 0 0 120px;
}
.cart-container{
	clear:both;
}
.cart-container .title h2, .order-container .title h2, .payment-container .title h2 {
    color: #666666;
    font-size: 20px;
}
.cart-main{
	font-size:14px;
	color:#666666;
}
.cart-main thead tr {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    height: 30px;
    line-height: 30px;
}
.cart-main thead th {
    background: none repeat scroll 0 0 #f7f7f7;
    color: #cf3341;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.cart-main .cart-item td.p-info {
    text-align: left;
}
.cart-main .cart-item {
    border-bottom: 1px solid #efefef;
}
.cart-main .cart-item td {
    text-align: center;
    vertical-align: middle;
	padding:10px 0;
}
.cart-main .p-pic {
    height: 120px;
    width: 120px;
}
.cart-main .p-pic img {
    height: 120px;
    min-height: 120px;
    min-width: 120px;
    width: 120px;
}
.cart-main .p-title a {
    color: #cf3341;
}
.cart-main .p-title span{
    display:block;
}
.p-action .btn-delete {
    background: url("delete.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}
.cart-main .order-price {
    line-height: 30px;
    padding: 15px 1px 10px;
    white-space: nowrap;
}
.cart-main .order-price ul {
    float: right;
}
.cart-main .order-price li {
    clear: both;
    overflow: hidden;
}
.cart-main .order-price .label {
    float: left;
    text-align: right;
    width: 200px;
}
.cart-main .submit{
	display: inline-block;
    margin-left: 10px;
}
.cart-main tr td.total_price{
	clear: both;
    font-weight: bold;
    padding: 20px 0 15px;
}
.cart-main tr td.total_price span.cart_num,.cart-main tr td.total_price span.cost{
	color: #cf3341;
}
.cart-main tr td.total_price span.cost{font-size:16px;}
.cart-main .p-quantity a {
    border: 1px solid #d5c2b9;
}
.cart-main .p-quantity .btn-decrease,.cart-main .p-quantity .btn-increase {
    background: url("../btn-decrease.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #d5c2b9;
    display: inline-block;
    font-size: 24px;
    height: 24px;
    margin-right: 4px;
    text-indent: -9999px;
    width: 24px;
}
.cart-main .p-quantity input {
    border: 1px solid #d5c2b9;
    color: #8e6a55;
    height: 24px;
    line-height: 24px;
    width: 40px;
	text-align:center;
}

/* templatemo_footer */

#templatemo_footer {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #cf3341;
    padding: 15px 0;
}
#templatemo_footer p {
    text-align: left;
    padding: 0;
    margin: 0;
}
#templatemo_footer a {
    color: #666666;
}

/*  Extra small devices (phones, less than 768px)  */
@media (max-width: 992px ) { 
	.list .submit_goods{
		display: inline-block;
		margin: 0 5px 0 0;
	}
	.list .sub {
		padding-top: 10px;
		text-align: left;
	}
}
@media (max-width: 768px ) { 
    #templatemo_banner_logo h1 {
        font-size: 46px;
        text-align: left;
    }
    #templatemo_banner_logo span {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
    }
	#templatemo_pricing .pricing_icon_wapper {
		margin-bottom: 50px;
	}
    #templatemo_contact form button {
		width: 100%;
		padding: 15px;
    }
	#login_form,#reg_form,#forget_form,.login_title{
		margin: 40px auto;
		width: 100%;
	}
	.list .goods_name{padding-top:20px;}
	

}
@media (max-width: 480px ){
	.list .submit_goods a{width:100px;}
}
@media (max-width: 380px ){
	.pass_email ul li {
	 display: block;
	}
}
/*  Small devices (tablets, 768px and up)  */
@media (min-width: 768px ) { 

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px ) {
    #templatemo_banner_top p.right {
        text-align: right;
    }
    #templatemo_banner_top {
        height: 30px;
    }
	

}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}