/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	background: url(../images/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb05 div {
	background-position: -7px -7px;
}

	.jssorb05 div:hover, .jssorb05 .av:hover {
		/*background-position: -37px -7px;*/
		background-position: -67px -7px;
	}

.jssorb05 .av {
	/*background-position: -67px -7px;*/
	background-position: -37px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}


/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l              (normal)
.jssora11r              (normal)
.jssora11l:hover        (normal mouseover)
.jssora11r:hover        (normal mouseover)
.jssora11ldn            (mousedown)
.jssora11rdn            (mousedown)
*/
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a11.png) no-repeat;
	overflow: hidden;
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11ldn {
	background-position: -251px -41px;
}

.jssora11rdn {
	background-position: -311px -41px;
}


