

body {
    font-family:"微软雅黑", Helvetica, Arial, sans-serif;
}

.templatemo_clear { clear: both; }
.red{color:#d1394a;}
.pink{color:#eb5b6b;}
.container_wapper {
    width: 100%;
}
.section_header  {
    height: 150px;
    background: url("../images/section-header.png") center center no-repeat;
}
.section_header  h1 {
    margin-top: 50px;
    text-align: center;
}

/* templatemo_mobile_menu_wap */
#templatemo_mobile_menu_wap {
    width: 50px;
    height: 40px;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: none repeat scroll 0 0 #cf3341;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn {
    padding-top: 3px;
    font-size: 20px;
    text-align: right;
    width: 100%;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn span {
    color: #fff;
}
#templatemo_mobile_menu_wap #mobile_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background:#e7eaef;
    margin-top: 44px;
    border-radius: 4px;
}
#templatemo_mobile_menu_wap .nav-stacked li a {
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li:hover a,
#templatemo_mobile_menu_wap .nav-stacked li a.active {
    background-color: #eb5b6b;
    color: #ffffff;
}
#templatemo_mobile_menu_wap .nav-stacked li a.focus {
    background-color: transparent;
}
/* templatemo_banner_top */
#templatemo_banner_top {
    background: #f5f5f5;
    height: auto;
}
#templatemo_banner_top p ,
#templatemo_banner_top a {
    font-size: 12px;
    line-height: 30px;
	margin: 0 2px;
}
/*#templatemo_banner_top p span{padding-right:20px;}*/
#templatemo_banner_top p.right span.order_line {
	padding:0 20px 0 10px;
}
#templatemo_banner_top p.right span img{
	padding-left:10px;
}
#templatemo_banner_top p.right span.wx,#templatemo_banner_top p.right span.wb{
	position:relative;
}
#templatemo_banner_top p.right span.pop_img1,#templatemo_banner_top p.right span.pop_img2{
	display:none;
}
#templatemo_banner_top p.right span.wx:hover img,#templatemo_banner_top p.right span.wb:hover img{cursor:pointer;}
#templatemo_banner_top p.right span.wx:hover span.pop_img1{
	display: block;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 9999;
}
#templatemo_banner_top p.right span.wb:hover span.pop_img2{
	display: block;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 9999;
}

/* templatemo_banner_logo */
#templatemo_banner_logo {
    background: #ffffff;
	position:relative;
	margin:15px auto;
}
#templatemo_banner_logo img {
	max-width:100%;
	margin:0 auto;
	display:block;
}

/* templatemo_banner_slide */
#templatemo_banner_slide {
	background:#fdf9ee;
    position:relative;
	margin:15px auto;
	text-align:center;
}
#templatemo_banner_slide img{max-width:100%;}

/* templatemo_main_menu */
.AreaL,.AreaR{margin-top:10px;}
#templatemo_main_menu {
    position:relative;
    z-index: 1500;
}
#templatemo_main_menu ul {
    background: #e06d98;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 15px;
}
#templatemo_main_menu .nav-justified li {
}
#templatemo_main_menu .nav-justified li a {
    font-size: 15px;
    color: #ffffff;
}
#templatemo_main_menu .nav-justified li a.current,
#templatemo_main_menu .nav-justified li a:hover, 
#templatemo_main_menu .nav-justified li a.active {
    background: #d1394a;
    color: #fff;
}
#templatemo_main_menu .nav-justified li.search_input{
	position: absolute;
    right: 30px;
    top: 11px;
}
#templatemo_main_menu .nav-justified li input{
	background: none repeat scroll 0 0 #f4f4f4;
    border: 0 none;
    border-radius: 4px;
    padding: 2px 5px;
    width: 165px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#templatemo_bread_crumbs{
	margin-top:10px;
}
#templatemo_bread_crumbs p{
	padding:0;
	margin:0;
}
#templatemo_bread_crumbs p a{
	color:#666666;
	text-decoration:underline;
}
#templatemo_bread_crumbs p span{color:#cf3341;}

/* templatemo_upcomming_event */
#templatemo_product_detail,#templatemo_product_category{
	margin:10px 0 30px;
}
.product_title{
	border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    overflow: hidden;
	padding-bottom:10px;
}
.product_title h3{
	background:url(../images/cake_icon.gif) no-repeat 0 50%;
	border-bottom: 4px solid #cf3341;
    color: #333333;
    display: inline;
    font-size: 17px;
    padding: 6px 26px 7px 26px;
}
.product_title p{
	float: right;
    margin: 0;
}
.product_title p a{color:#666666;}
.product_title p a.all_pro{color:#cf3341;}
#templatemo_upcomming_event {
    background: #ffffff;
	margin-top: 15px;
    overflow: hidden;
}
#templatemo_upcomming_event .event_box {   
    position: relative;
    text-align: center;
	width:225px;
}
#templatemo_upcomming_event .event_box ul {
    list-style: none;    
    padding: 6px 30px 18px;    
    margin: 0;    
    line-height: 20px;
}
#templatemo_upcomming_event .event_box ul li span.title{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	display:block;
}
#templatemo_upcomming_event .event_box ul li a:hover{text-decoration:none;}
#templatemo_upcomming_event .event_box ul li a:hover span.title{
	color:#cf3341;
	text-decoration:underline;
}
#templatemo_upcomming_event .event_box ul li span.intro{
	color:#666666;
	font-size:12px;
}
#templatemo_upcomming_event .event_box ul li span.price{
	color:#cf3341;
	font-size:16px;
}
#templatemo_upcomming_event #prev_event_btn ,
#templatemo_upcomming_event #next_event_btn {
    margin-top: 60px;
    margin-bottom: 60px;
}
#templatemo_upcomming_event #prev_event_btn a  ,
#templatemo_upcomming_event #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
	padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_upcomming_event #prev_event_btn a:hover ,
#templatemo_upcomming_event #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_upcomming_event #prev_event_btn a {
    float: right;
}
#templatemo_upcomming_event #next_event_btn a {
    float: left;
}
.pic_detail{ 
	position: relative;
  }
.cart_bg{
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	background: #f4f4f4;
	background: rgba(244, 244, 244, 0.6);
	width: 100%;
	height: 100%;
	color: #FFF;
	filter: dropshadow(color=#f4f4f4, offx=2, offy=2);
	-webkit-transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
	-ms-transition: opacity .25s linear;
	transition: opacity .25s linear;
	padding-top:26px;
}
.event_box:hover .cart_bg{
	display:block;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity:1;
}
.pic_detail a img{
	/*margin:0;*/
	display:blodk;
}
.cart_bg a{
	background: none repeat scroll 0 0 #333333;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 14px;
	line-height: 36px;
    height: 36px;
    margin: 12px auto;
    width: 118px
}
.cart_bg a span{padding: 0 10px 0 0;}
.cart_bg a:hover{
	background:#d1394a;
	text-decoration:none;
}

/* Product_details_box */
.pro_big_img{
	width: 100%;;
}
.pro_big_img img{max-width:100%;}
.samll_img_box ul.pro_small_img{
	margin: 10px 0 0;
    overflow: hidden;
	text-align: center;
}
.samll_img_box ul.pro_small_img li {
    cursor: pointer;
    display:inline;
    list-style: outside none none;
    margin:0 15px 0 0;
}
.samll_img_box ul.pro_small_img li img {
    border: 1px solid #999999;
    height: 88px;
    width: 88px;
	margin-bottom:5px;
}
.samll_img_box ul.pro_small_img li a.cur img,
.samll_img_box ul.pro_small_img li.cur img {
    border: 1px solid #cf3341;
}
.pro_copy{
	clear: both;
}
.pro_copy p{line-height:18px;}
.Pro_parameters_box{
	font-size: 14px;
    margin-top: 20px;
}
.pro_name{
	border-bottom: 1px solid #dddddd;
    font-size: 14px;
    line-height: 24px;
}
.pro_name span{
	display:block;
	font-size:18px;
}
.pro_pire{
	clear: both;
    margin: 15px 0 18px;
}
.pro_pire span{
	color:#d1394a;
	font-size:18px;
}
.pro_sku ul li {
    background-color: #f0f4f5;
    border: 1px solid #f0f4f5;
    color: #999;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.pro_sku ul li.cur{
	background: url("../images/sku_icon.png") no-repeat scroll right bottom #f0f4f5;
    border: 1px solid #d1394a;
}
.pro_sku ul li label {
	cursor: pointer;
	padding: 0 30px;
}
.pro_desc p{
	color: #9b9b9b;
    font-size: 12px;
    line-height: 18px;
}
.cake_num{
	clear:both;
	margin:22px 0 25px;
}
.cake_num a.add_left{
	background: url("../images/decrease_icon.gif") no-repeat scroll center center #eaeaea;
    display: inline-block;
	border: 1px solid #eaeaea;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
	text-indent: -9999px;
}
.cake_num a.add_left:hover{background: url("../images/decrease_icon_hover.gif") no-repeat scroll center center #d1394a;}
.cake_num input{
	border: 1px solid #eaeaea;
    color: #999999;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 50px;
	vertical-align: middle;
}
.cake_num a.add_right{
	background: url("../images/crease_icon.gif") no-repeat scroll center center #eaeaea;
    display: inline-block;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
	text-indent: -9999px;
}
.cake_num a.add_right:hover{background: url("../images/crease_icon_hover.gif") no-repeat scroll center center #d1394a;}
.buy_btn_box ul li a{
    background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
    color: #fff;
    display: inline;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right: 9px;
    text-align: center;
    width: 125px;
}
.buy_btn_box{overflow:hidden;}
.buy_btn_box ul li a:hover{
	background:#d1394a
}
.select_view{
	clear:both;
	margin-top:25px;
}
.select_view ul li.ingred{
	border-bottom: 5px solid #d1394a;
    display: inline-block;
    line-height: 18px;
    padding-bottom: 4px;
}
.select_view ul.view_list{
	margin: 10px 0;
    overflow: hidden;
}
.select_view ul.view_list li{
	float: left;
    padding-right: 20px;
}
.select_view ul.view_list li img{
	padding-right:5px;
}
.select_view ul.ingred_det{clear:both;}
.select_view ul.ingred_det li{
	color: #999999;
    font-size: 12px;
    line-height: 26px;
}
.select_view ul.ingred_det li span.kw{
	color: #d1394a;
	padding-left:10px;
}
/* tab change*/
.tab_change ul.nav-tabs li a{
	font-size:16px;
	color:#333333;
}
.tab_change .nav-tabs > li.active > a, .tab_change .nav-tabs > li.active > a:hover, .tab_change .nav-tabs > li.active > a:focus{
	border:0;
}
.tab_change .nav-tabs > li > a{
	border:0;
}
.tab_change ul.nav-tabs li.active{
	border-bottom:5px solid #d1394a;
}
.tab_change .nav>li>a:hover,.tab_change .nav>li>a:focus {
    background: none;
	border:0;
	text-decoration:underline;
}
.tab_change .nav-tabs > li.active > a, .tab_change .nav-tabs > li.active > a:hover, .tab_change .nav-tabs > li.active > a:focus{
	background:none;
}
.tab-content{
	clear:both;
	margin:20px 0;
}
/*.tab-pane h3,.comments,.commentsList{
	font-size: 14px;
}*/
.tab-pane h3{
	font-size: 14px;
}
.comment_list tr{
	line-height:30px;
}
.comment_list tr th{
	color: #d1394a;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.tab-content #buy_pagebar{
	border-top: 1px solid #ddd;
    color: #999;
    margin-top: 10px;
    text-align: right;
	padding-top:10px;
}
.tab-content #buy_pagebar a,.boxCenterList #pagebar a{color:#999;}
.tab-content #buy_pagebar a:hover,.boxCenterList #pagebar a:hover{color: #d1394a;background:none;}

.comments .comment_line{
	border-bottom:1px solid #ddd;
}
.comments td{
	padding:10px 0 0;
}
.comments .comment_line td{
	padding:0 0 10px;
}
.comments td,.comments td img{vertical-align: top;}
.comments td .f3{
	font-size:12px;
	color:#999;
}
.boxCenterList #pagebar{
	color: #999;
    margin-top: 10px;
    text-align: right;
	padding-top:10px;
}
.comment_table td{
	padding:5px 0;
}

/* templatemo_login */
.login_title{
	margin: 50px auto 0;
    width: 500px;
	text-align:center;
}
.form_detail{
	margin: 0 auto 50px;
    width: 500px;
}
.form_detail ul li{
	line-height: 30px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
}
.login_title p span.glyphicon-user{
	color: #e06d98;
    display:inline-block;
    font-size: 25px;
    padding-right: 6px;
	vertical-align: sub;
}
.login_title p.top_border {
	color: #d1394a;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
.login_title p.top_border span.click_login{
	color: #666666;
    font-size: 12px;
}
.form_detail ul li .input_content {
    left: 15px;
    line-height: 40px;
    position: absolute;
    top: 5px;
}
.form_detail ul li .input_content span{padding-right:6px;}
.form_detail ul li .input_content label,.form_detail ul li.pass_tip label,.form_detail ul li.pass_tip select{
	color: #666666;
    font-size: 14px;
	font-weight: normal;
}

.combine_order select,.combine_order input,.combine_order .my_recommend textarea,
.form_detail ul li input.inputBg,.account_deposit input.inputBg,.account_deposit textarea,
.info_detail input.inputBg,.info_detail select,.info_detail textarea{
	background:#f0f4f5;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 14px;
	color: #767676;
	margin: 0;
	border: none;
	width: 100%;
	padding: 5px 10px 5px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.form_detail ul li input.inputBg:focus{
	border: 1px solid #e06d98;
	background:#ffffff;
}
#templatemo_login .form_detail ul li input.inputBg{padding:5px 10px 5px 45px;}
.form_detail ul li input.login_btn,.form_detail ul li a.start_shop{
	background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border:0;
	cursor:pointer;
    color: #fff;
	display:inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right: 9px;
    text-align: center;
    width: 100%;
}
.form_detail ul li input.login_btn:hover,.form_detail ul li a.start_shop:hover{background: none repeat scroll 0 0 #d1394a;}
.form_detail ul li.pass_tip{
	text-align:left;
}
.form_detail ul li.pass_tip select{
	background: none repeat scroll 0 0 #f0f4f5;
    border: 0 none;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    width: 100%;
}
.form_detail ul li.pass_tip span{padding-left: 15px;}
.pass_email{
	margin: 30px auto;
    text-align: center;
}
.pass_email ul li{display:inline;}
.pass_email label{
	color: #d1394a;
    font-size: 16px;
    font-weight: normal;
    padding: 0 15px 0 5px;
}
.form_detail ul li strong{
	display: block;
    font-size: 13px;
    text-align: left;
}
.form_detail ul li.tip_quest{
	line-height:16px;
	text-align:left;
}
.send {
    position: absolute;
    right: 15px;
    text-align: right;
    top: 15px;
}
.reg_form ul li span.err{
	color: #d1394a;
    display: inline-block;
    float: right;
}
.form_detail ul li.Agreement{
	text-align:left;
}
.form_detail ul li.Agreement label{font-weight:normal;}
#formLogin ul li.Agreement a,
#login_form ul li.Agreement a{float:right;}
.form_detail ul li.Agreement input{
	margin: 0 10px 0 0;
    vertical-align: middle;
}
.img_verify{
	position: absolute;
    right: 15px;
    top: 17px;
}
.form_detail ul li span.forgotmobile{font-size: 18px;}
.form_detail ul li span.set_password{
	color: #60ad05;
    display: block;
    font-size: 20px;
    margin: 20px auto 15px;
}

/* templatemo_catagory */
.classify{
	clear: both;
    margin: 5px 0 10px;
    overflow: hidden;
}
.classify .classify_text{
	float: left;
	font-weight:bold;
    font-size: 12px;
    line-height: 23px;
    width: 60px;
}
.classify ul{
	float:left;
}
.classify ul li {
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin: 0 10px;
}
.classify ul li a,.boxCenterList a{
	color:#666666;
	padding:2px 5px;
}
.classify ul li a:hover,.classify ul li.active a,.boxCenterList a:hover{
	background:#cf3341;
	color:#ffffff;
}
#tagForm #ECS_TAGS a{
    color:#d1394a; 
}
#tagForm #ECS_TAGS a:hover{
    color:#FFF; 
}
.list .goods{
	border-bottom: 1px solid #efeeee;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.list .goods .goods_img img {
    width: 100%;
}
.list .goods_name{
	line-height: 18px;
    margin-bottom: 10px;
}
.list .goods_name a{
	color:#cf3341;
	font-size:16px;
}
.list .goods_depict{
	font-size:14px;
	line-height:20px;
}
.list .sub{
	padding-top: 30px;
    text-align: right;
}
.list .submit_goods{
	margin:10px 0;
}
.list .submit_goods a,.cart-main .submit a,.operate a,.my_fav a.collect_flow{
	background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 125px;
}
.list .submit_goods a:hover,.list .submit_goods a.active,.cart-main .submit a:hover,.cart-main .submit a.active,.operate a:hover,.my_fav a.collect_flow:hover{background: none repeat scroll 0 0 #d1394a;}
.my_fav a.collect_flow{margin-bottom:8px;}
/* templatemo_shop_cart */
#templatemo_shopping_cart,#templatemo_info{
	overflow:hidden;
	margin-bottom:30px;
}
.order_cart_main .order_step{
	margin: 50px auto;
    overflow: hidden;
    text-align: center;
    width: 76%;
}
.order_cart_main .order_step div {
    float: left;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
}
.order_cart_main .order_step .step1 {
    background: url("../images/order_01.png") no-repeat scroll 0 0;
    padding: 0 0 0 120px;
}
.order_cart_main .order_step .step1_active {
    background: url("../images/order_01.png") no-repeat scroll 0 -165px;
    padding: 0 0 0 120px;
	color: #cf3341;
}
.order_cart_main .order_step .step2 {
    background: url("../images/order_01.png") no-repeat scroll 0 -55px;
    margin: 0 0 0 30px;
    padding: 0 0 0 120px;
}

.order_cart_main .order_step .step3 {
    background: url("../images/order_01.png") no-repeat scroll 0 -110px;
    margin: 0 0 0 30px;
    padding: 0 0 0 120px;
}
.cart-container{
	clear:both;
}
.cart-container .title h2, .order-container .title h2, .payment-container .title h2 {
    color: #666666;
    font-size: 20px;
}
.cart-main{
	/*font-size:14px;*/
	color:#666666;
}
.cart-main thead tr{
    background-color: #f8f8f8;
    border: 1px solid #eee;
    height: 30px;
    line-height: 30px;
}
.cart-main thead th,#payment_table thead th {
    background: none repeat scroll 0 0 #f7f7f7;
    color: #cf3341;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.cart-main .cart-item td.p-info {
    text-align: left;
}
.cart-main .cart-item {
    border-bottom: 1px solid #efefef;
}
.cart-main .cart-item td {
    text-align: center;
    vertical-align: middle;
	padding:10px 0;
}
.cart-main .p-pic {
    height: 120px;
    width: 120px;
}
.cart-main .p-pic img {
    height: 120px;
    width: 120px;
}
.cart-main .p-title a {
    color: #cf3341;
}
.cart-main .p-title span{
    display:block;
}
.p-action .btn-delete {
    background: url("delete.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}
.cart-main .order-price {
    line-height: 30px;
    padding: 15px 1px 10px;
    white-space: nowrap;
}
.cart-main .order-price ul {
    float: right;
}
.cart-main .order-price li {
    clear: both;
    overflow: hidden;
}
.cart-main .order-price .label {
    float: left;
    text-align: right;
    width: 200px;
}
.cart-main .submit{
	display: inline-block;
    margin-left: 10px;
}
.cart-main tr td.total_price{
	clear: both;
    font-weight: bold;
    padding: 20px 0 15px;
}
.cart-main tr td.total_price span.cart_num,.cart-main tr td.total_price span.cost{
	color: #cf3341;
}
.cart-main tr td.total_price span.cost{font-size:16px;}
.cart-main .p-quantity a {
    border: 1px solid #d5c2b9;
}
.cart-main .cart-item .del,.cart-main .cart-item .collect{
	cursor: pointer;
    float: left;
    height: 22px;
    margin: 0 0 0 2px;
    width: 22px;
}
.cart-main .cart-item .del {
    background: url("../images/cart_01.png") no-repeat scroll 0 0;
}
.cart-main .cart-item .del:hover {
    background: url("../images/cart_01.png") no-repeat scroll 0 -22px;
}
.cart-main .cart-item .collect {
    background: url("../images/cart_01.png") no-repeat scroll -21px 0;
}
.cart-main .cart-item .collect:hover {
    background: url("../images/cart_01.png") no-repeat scroll -21px -22px;
}
.cart-main .cart-item .del a,.cart-main .cart-item .collect a {
    display: block;
    height: 22px;
    width: 22px;
}
#formCart .submit{margin-bottom:10px;}

/* check out */
.order_cart_main .order_step .step2_active{
	background: url("../images/order_01.png") no-repeat scroll 0 -220px;
    margin: 0 0 0 30px;
    padding: 0 0 0 120px;
	color: #cf3341;
}
.cart-container .title h2 a.modify{
	color: #666666;
    float: right;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
}
.cart-container .title h2 a.modify:hover{color: #cf3341;}
.cart-container .title h2{
	border-bottom: 1px solid #eee;
    padding-bottom: 7px;
}
.theForm tr,
#order_addr tr,#templatemo_info #order_addr tr{
	height:48px;
	/*font-size:14px;*/
}
.theForm tr input,.theForm tr select,
#order_addr tr input,#order_addr tr select,.order_dispatching input.inputBg,.nstep_products input.inputBg,
.nstep_products textarea,.add_bonus input,.deposit_info input.inputBg,.deposit_info textarea,#tagForm input.inputBg,
.commentsList input.inputBorder,.commentsList textarea{
	background: none repeat scroll 0 0 #f0f4f5;
    border: medium none;
    border-radius: 2px;
    color: #767676;
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding: 5px 10px;
    width: 65%;
}
.theForm tr select, 
#order_addr tr select{width:21%;}
#tagForm input.inputBg{width:45%;}
.theForm tr input.save_adress,input.bnt_blue_1
#order_addr tr input.save_adress,.submit_order input.save_adress,.nstep_products input.bnt_blue_1,.su input,
#templatemo_info input.combine_btn,.add_bonus input.save_adress,.deposit_info input.save_adress,
.combine_order input.bnt_blue_1,.deposit_info input.bnt_blue_1,.account_deposit input.bnt_blue_1,
#tagForm input.bnt_blue,.commentsList input.f_r,.info_detail input.bnt_blue_1,.info_detail input.bnt_bonus,
.info_detail input.bnt_blue_2,.info_detail input.bnt_blue,.welcome_user a.remove{
	background: none repeat scroll 0 0 #595a6b;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    line-height: 27px;
    text-align: center;
    width: 135px;
	padding: 0;
	margin-bottom: 5px;
}
#order_addr tr input.save_adress:hover,.submit_order input.save_adress:hover,
.theForm tr input.save_adress:hover, .theForm tr span, input.bnt_blue_1:hover,
.su input:hover,#order_addr tr input.save_adress:hover,.submit_order input.save_adress:hover,
#templatemo_info input.combine_btn:hover,.add_bonus input.save_adress:hover,
.deposit_info input.save_adress:hover,.combine_order input.bnt_blue_1:hover,
.deposit_info input.bnt_blue_1:hover,.account_deposit input.bnt_blue_1:hover,
#tagForm input.bnt_blue:hover,.commentsList input.f_r:hover,.info_detail input.bnt_blue:hover,
.info_detail input.bnt_blue_2:hover,.info_detail input.bnt_bonus:hover{ 
background: none repeat scroll 0 0 #d1394a;}
#tagForm input.bnt_blue{width:80px;}
#order_addr tr span{color:#ff0000;}
#payment_table tr{
	height:40px;
	font-size:14px;
}
.order_dispatching,.nstep_products,.total_cost{
	clear: both;
    /*font-size: 14px;*/
    line-height: 40px;
    overflow: hidden;
}
#div_zt ul li{
	float:left;
}
.nstep_products input.inputBg{
    width: 21%;
}
.total_cost span{
	color:#d1394a;
}
.order_dispatching input.inputBg{width:30%;}
.nstep_products input.bnt_blue_1{
	background: none repeat scroll 0 0 #d1394a;
	border-radius:0;
	width:80px;
}
.nstep_products textarea,.deposit_info textarea,.commentsList textarea{
	height: 100px;
    margin-top: 10px;
}
.flowBox tr td span{
	background:none;
	color:#d1394a;
}
/* check ok */
.order_cart_main .order_step .step3_active{
	background: url("../images/order_01.png") no-repeat scroll 0 -275px;
    margin: 0 0 0 30px;
    padding: 0 0 0 120px;
	color: #cf3341;
}
.order_ok{
	font-size:14px;
	margin:30px auto;
}
.su{
	clear:both;
	margin:20px 0 0 0;
}

/* user center */
.welcome_user{

}
.welcome_user p.wel{
	font-size:18px;
}
.welcome_user span.name{
	color: #cf3341;
	padding:0 5px;
	font-weight:bold;
}
.goodsInfo  {
    float: left;
    padding: 0 20px 20px 0;
    width: 40%;
}
.goodsInfo  .Invitation_txt {
    color: #666;
    font-size: 18px;
    padding: 18px 0 0 0;
}
.goods_detail{line-height:30px;}
#templatemo_info #order_addr table tr td {
    text-align: left;
}
#templatemo_info #order_addr{margin-bottom:30px;}

/* bonus */
.blank{
	clear:both;
	margin-top:30px;
}
.add_bonus input{
	width:25%;
}
.operate_account{
	margin-bottom: 15px;
}
#templatemo_info .deposit_info tr td {
    text-align: left;
}
#templatemo_info .deposit_info tr {
    height: 40px;
}

/* order_list */
.order_staus,.combine_order,.welcome_user,.goodsInfo {/*font-size:14px;*/}
#templatemo_info,#templatemo_shopping_cart{
	margin:10px auto 30px;
}
#templatemo_info .info_title,#templatemo_shopping_cart .info_title{
	color:#cf3341;
	border-bottom: 1px solid #eee;
    font-size: 18px;
}
#templatemo_info ul.info_detail,#templatemo_shopping_cart ul.info_detail{margin-bottom: 20px;}
#templatemo_info ul.info_detail li,#templatemo_shopping_cart ul.info_detail li{
	border-bottom: 1px solid #eee;
	font-size: 14px;
    line-height: 30px;
    list-style: inside none disc;
    padding-left: 26px;
}
#templatemo_info ul.info_detail li a.active,#templatemo_shopping_cart ul.info_detail li a.active{color:#cf3341;}
#templatemo_info .title h2{
	border-bottom: 1px solid #eee;
    font-size: 16px;
    margin: 0 0 10px;
    padding-bottom: 7px;
}
#templatemo_info table tr{
	height:30px;
}
#templatemo_info table tr th {
    background: none repeat scroll 0 0 #f7f7f7;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#templatemo_info table tr td{text-align:center;}
.combine_order{
	clear:both;
	margin-top:30px;
}
#templatemo_info input.combine_btn{
	height:28px;
	width:90px;
}

/* templatemo_footer */

#templatemo_footer {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #cf3341;
	margin:20px 0 0;
    padding: 15px 0;
}
#templatemo_footer p {
    text-align: left;
    padding: 0;
    margin: 0;
}

/*  Extra small devices (phones, less than 768px)  */
@media (max-width: 1200px ) {
	.order_cart_main .order_step{width:82%;}
}
@media (max-width: 992px ) { 
	.list .submit_goods{
		display: inline-block;
		margin: 0 5px 0 0;
	}
	.list .sub {
		padding-top: 10px;
		text-align: left;
	}
	.order_cart_main .order_step div {
		float: left;
		font-size: 18px;
		height: 43px;
		line-height: 43px;
	}
	.order_cart_main .order_step{width:95%;}
	.order_cart_main .order_step .step1{
		background: url("../images/order_0101.png") no-repeat scroll 0 -132px;
		padding: 0 0 0 95px;
	}
	.order_cart_main .order_step .step2 {
		background: url("../images/order_0101.png") no-repeat scroll 0 -45px;
		margin: 0 0 0 30px;
		padding: 0 0 0 95px;
	}
	.order_cart_main .order_step .step3 {
		background: url("../images/order_0101.png") no-repeat scroll 0 -90px;
		margin: 0 0 0 30px;
		padding: 0 0 0 95px;
	}
}
@media (max-width: 768px ) { 
    #templatemo_banner_logo h1 {
        font-size: 46px;
        text-align: left;
    }
    #templatemo_banner_logo span {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
    }
	#templatemo_pricing .pricing_icon_wapper {
		margin-bottom: 50px;
	}
    #templatemo_contact form button {
		width: 100%;
		padding: 15px;
    }
	#formLogin,
	#login_form,#reg_form,#forget_form,.login_title{
		margin: 40px auto;
		width: 100%;
	}
	.list .goods_name{padding-top:20px;}
	.order_cart_main .order_step .step3 {
		margin: 15px 0 0 0;
		clear:both;
	}
	.cart-main .p-pic img{max-width:100%;}
	.theForm tr input, 
	#order_addr tr input{
        width: 100%;
    }
	.theForm tr select, 
	#order_addr tr select{width:32%;}
	#templatemo_upcomming_event .event_box {
		margin: 0 auto;
	}

}
@media (max-width: 480px ){
	.list .submit_goods a{width:100px;}
	.order_cart_main .order_step .step2 {
		clear:both;
		margin: 15px 0 0 0;
	}
	#templatemo_upcomming_event .col-xs-6 {
		width: 100%;
	}
	#templatemo_upcomming_event .event_box {
		margin: 0 auto;
	}
}
@media (max-width: 479px ){
	.cart-main .p-pic{display:none;}
	#templatemo_banner_top .col-md-7{width: 66%;}
	#templatemo_banner_top .col-md-5{width: 80%;}
	#templatemo_banner_top p.right span.wx:hover span.pop_img1{
    right: -120px;
}
#templatemo_banner_top p.right span.wb:hover span.pop_img2{
    right: -120px;
}

}
@media (max-width: 380px ){
	.pass_email ul li {
	 display: block;
	}
}
/*  Small devices (tablets, 768px and up)  */
@media (min-width: 768px ) { 

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px ) {
    #templatemo_banner_top p.right {
        text-align: right;
    }
    #templatemo_banner_top {
        height: 30px;
    }

}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}

.market {
    text-decoration: line-through;
}

/*----user center---*/
.userMenu .info_title {
    border-bottom: 1px solid #eee;
    color: #cf3341;
    font-size: 18px;
}
.userMenu ul li{
	border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 30px;
    list-style: inside none disc;
    padding-left: 26px;
}
.userMenu ul li a.curs{color: #cf3341;}
.userCenterBox{
	/*font-size: 14px;*/
}
.welcome_user .f5{font-size: 18px;}
.welcome_user .f4{
	color: #cf3341;
    font-weight: bold;
    padding: 0 5px;
}
.goodsInfo {
    float: left;
    padding: 20px 20px 20px 0;
    width: 40%;
	line-height: 30px;
}
.goodsInfo h5 span{
	color: #666;
    font-size: 18px;
    padding: 18px 0 0;
}
.goodsInfo a,.welcome_user a{
	color: #eb5b6b;
	/*text-decoration:underline;*/
}
.goodsInfo a:hover,.welcome_user a:hover{
	background:none;
	color:#cf3341;
	text-decoration:underline;
}
.combine_order{
	clear: both;
    margin-top: 30px;
}
.userCenterBox h5{
    border-bottom: 1px solid #eee;
    font-size: 16px;
    margin: 8px 0 10px;
    padding-bottom: 7px;
}
#templatemo_info table tr th {
    background: none repeat scroll 0 0 #f7f7f7;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
table.order_list tr{
    height: 30px;
}
table.order_list tr th {
    background: none repeat scroll 0 0 #f7f7f7;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
table.order_list tr td {
    text-align: center;
}
table.order_list tr .f6 a{color: #eb5b6b;}
.combine_order td{
	padding:5px;
}
/*.combine_order .my_recommend input,.combine_order .my_recommend select,.account_deposit input.inputBg,.account_deposit textarea{
	width:50%;
}*/
.combine_order .my_recommend input,.combine_order .my_recommend select{
	width:50%;
}
.combine_order .my_recommend textarea{
	height: 125px;
    padding: 5px;
    width: 100%;
}
.combine_order .addbouns input{
	float: none;
    padding: 5px 10px;
    width: 25%;
}
.combine_order .addbouns input.bnt_blue_1{width:15%;}
.pagebar span b{
	color: #cf3341;
}
.account_deposit textarea {
    height: 100px;
    margin-top: 10px;
}
.deposit_info{
	clear:both;
	margin-top:20px;
}

/* category */
.goodsList ul {
    border-bottom: 1px solid #efeeee;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.goodsList .goodsName{
	/*font-size:14px;*/
}
.goodsList .goodsName a,.goodsList .goodsName .market,.goodsList .goodsName .shop{
	color: #cf3341;
    font-size: 16px;
}
.goodsList .action{
	margin-top: 20px;
    text-align: right;
}
.goodsList .action a{
    background: none repeat scroll 0 0 #595a6b;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 35px;
	margin-bottom:10px;
    line-height: 35px;
    text-align: center;
    width: 125px;
}
.goodsList .action a:hover{background: none repeat scroll 0 0 #d1394a;}
.pro_brief{
	height: 78px;
    overflow: hidden;
}
.box_1 h3.goods_filter,.box_1 h3.jp_recommend{
    margin: 0 0 10px;
}
.pro_title{
	text-align:center;
}
.pro_title a{
	color: #666666;
    font-size: 16px;
    font-weight: bold;
}
.pro_title .f1{
	color: #cf3341;
    font-size: 16px;
}
.sort{text-align:right;}
#show_best_area .more{
	float: right;
    margin-top: -27px;
}
h3.jp_recommend select{
	font-size:12px;
}
h3.jp_recommend input{ vertical-align: middle;}

/*user center*/
.info_detail tr{height:48px;}
.info_detail input.inputBg,.info_detail select,.info_detail textarea{width:80%;}
.info_detail textarea{height:100px;}
.info_detail .birthday_select select{
	margin-right: 10px;
    width: 25%;
}
.info_detail .adress_select select{width:19%;}
.boxCenterList .order_list a,.boxCenterList a.pink,.cart-container .title h2 a.pink{ color: #eb5b6b;}
.boxCenterList .order_list a:hover,.boxCenterList a.pink:hover,.cart-container .title h2 a.pink:hover{
	background:none;
	color:#cf3341;
}
.welcome_user a.remove{
	padding: 3px 25px
}
.welcome_user a.remove:hover{background: #cf3341;color:#ffffff;}
.welcome_user .msgBottomBorder{
	border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px 0 13px;
}